<ion-view view-title="Debug">

    <ion-content>

		<button class="button button-dark button-full" ng-click="clearLog()">Clear log</button>

		<button class="button button-dark button-full" ng-click="resetDatabase()">Reset database</button>

        <div ng-repeat="item in debug.log track by $index">

            <div class="item card">
                <div class="item item-text-wrap">
                    {{ item }}
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>