<div class="modal">
	<ion-header-bar class="bar bar-header bar-dark">
          <h1 class="title">About</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()"><i class="icon ion-ios-close-empty"></i></button>
    </ion-header-bar>

<ion-content has-header="true" padding="true">

	<div class="item card">
		<div class="item item-text-wrap">
        	<h2>Proximity features</h2>
			<p>This app enhances your mobile experience with proximity features. You can get contextual information based on your distance from iBeacons or geographical regions.</p>
		</div>
		<div class="item item-text-wrap">
        	<h2>How does it work?</h2>
			<p>The apps viewed with this app can contain proximity data. Meaning you can get notifications from the app your currently viewing. As soon as a different app is loaded, the proximity data from the previous app is discarded. Unless you save this app in your favourites.</p>
		</div>
	</div>

</ion-content>
</div>